@defer (when userIsLoaded()) {
    <div id="" class="w-full select-none mb-4 mx-auto mt-28 flex flex-col justify-center content-center justify-items-center flex-wrap">
        <div id="top" class="mt-4 flex justify-center -sm:flex-col -sm:items-center mb-8">
            <img class="w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 mr-2 p-0.5 rounded-full ring-2 ring-pink-500 dark:ring-pink-700"
                 src="{{ this.user.photo_url }}" alt="Bordered avatar">
            <div class="flex flex-col ml-4">
                <h1 class="text-2xl md:text-4xl lg:text-6xl font-bold">{{this.user.username}}</h1>
                <div class="flex sm:block">
                    <div class="font-bold mx-1">Posts: {{this.user.posts.length}}</div>
                    <div class="font-bold mx-1">Followers: {{this.user.followers.length}}</div>
                    <div class="font-bold mx-1">Following: {{this.user.following.length}}</div>
                </div>
            </div>
        </div>
        <div id="bottom-sm" class="flex content-center justify-items-center items-center justify-center">
            <button type="button" class="w-40 text-white bg-pink-500 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 hover:shadow-pink-500/25  dark:shadow-lg transition duration-150 dark:shadow-pink-800/80 font-medium rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2 mt-2">Edit Profile</button>
            <button type="button" class="w-40 text-white bg-pink-500 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 hover:shadow-pink-500/25  dark:shadow-lg transition duration-150 dark:shadow-pink-800/80 font-medium rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2 mt-2">Share</button>
        </div>
        <hr class="mb-6 mt-4 border-1">
        <app-account-post-list></app-account-post-list>

    </div>
} @placeholder {
    <div class="w-full select-none mb-4 mx-auto mt-28 flex flex-col justify-center content-center justify-items-center flex-wrap">
        <div id="top" class="mt-4 flex -sm:flex-col -sm:items-center mb-8">
            <div class="w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 mr-2 p-0.5 rounded-full ring-2 ring-pink-500 dark:ring-pink-700 bg-gray-300"></div>
            <div class="flex flex-col ml-4">
                <div class="mx-1 my-1 w-64 h-4 rounded-full bg-gray-300"></div>
                <div class="flex sm:block">
                    <div class="mx-1 my-1 w-40 h-3 rounded-full bg-gray-300"></div>
                    <div class="mx-1 my-1 w-40 h-3 rounded-full bg-gray-300"></div>
                    <div class="mx-1 my-1 w-40 h-3 rounded-full bg-gray-300"></div>
                </div>
            </div>
        </div>
        <div id="bottom-sm" class="flex content-center justify-items-center items-center justify-center">
            <button type="button" class="w-40 text-white bg-pink-500 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 hover:shadow-pink-500/25  dark:shadow-lg transition duration-150 dark:shadow-pink-800/80 font-medium rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2 mt-2">Edit Profile</button>
            <button type="button" class="w-40 text-white bg-pink-500 focus:outline-none focus:ring-pink-300 dark:focus:ring-pink-800 shadow-lg shadow-pink-500/50 hover:shadow-pink-500/25  dark:shadow-lg transition duration-150 dark:shadow-pink-800/80 font-medium rounded-lg text-md px-5 py-2.5 text-center me-2 mb-2 mt-2">Share</button>
        </div>
        <hr class="mb-6 mt-4 border-1">

    </div>
} @error {
    <p>erreur</p>
}
