<div class="w-full flex flex-col items-center mt-32">
    <div class="pt-2 absolute -lg:relative w-[75%]">
        <button routerLink="/home">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
        </button>
    </div>
    <div class="flex flex-col justify-center items-center">
        <p class="text-5xl text-pink-700 my-8 mt-0">NEW POST</p>
        <div class="w-[500px] max-w-[90vw] p-10 rounded-2xl bg-white" style="box-shadow: 0px 10px 25px 5px #0000000f">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="max-w-sm mx-auto w-full">
                <div class="mb-5">
                    <label for="image_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your picture</label>
                    <input name="image_url" ngModel  type="file" (change)="onFileChange($event)" id="image_url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500" required>
                    @if (f.value.image_url === "" && submit){
                        <p class="text-red-700">Load an image</p>
                    }
                </div>
                <div class="mb-5">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your description</label>
                    <textarea name="description" ngModel  type="text" id="description" rows="4"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500" placeholder="Write your description..." required></textarea>
                </div>
                <button type="submit" class="px-4 py-3 text-base w-full rounded-[2rem] border-none my-5 cursor-pointer bg-gradient-to-r from-pink-400 via-pink-500 to-pink-600 focus:ring-4 focus:ring-pink-300 text-white hover:bg-pink-700 shadow-lg">Create New Post</button>
            </form>
        </div>
    </div>
</div>
