<div class="w-full flex flex-col items-center mt-32">
    <div class="pt-2 absolute -lg:relative w-[75%]">
        <button routerLink="/home">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
        </button>
    </div>
    <p class="text-5xl text-pink-700 my-6">NEW POST</p>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="max-w-sm mx-auto w-full">
        <div class="mb-5">
            <label for="image_url" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your picture</label>
            <input name="image_url" ngModel  type="file" (change)="onFileChange($event)" id="image_url" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500" required>
            @if (f.value.image_url === "" && submit){
                <p class="text-red-700">Load an image</p>
            }
        </div>
        <div class="mb-5">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your description</label>
            <textarea name="description" ngModel  type="text" id="description" rows="4"  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-pink-500 dark:focus:border-pink-500" placeholder="Write your description..." required></textarea>
        </div>
        <button type="submit" class="text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-pink-600 dark:hover:bg-pink-700 dark:focus:ring-pink-800">Create New Post</button>
    </form>
</div>
