<div class="w-[95%] select-none my-4 mx-auto mt-28 flex flex-col">
    <div class="py-4 border-gray-100 border-b-2">
        <p class="mx-4 text-5xl font-bold">Search for : {{this.searchContent}}</p>
    </div>
    <div class="my-6">
        <p class="mx-4 py-2 text-5xl border-gray-100 border-b-2">Accounts :</p>
        @if (this.accounts.length === 0){
            <div class="w-full">
                <p class="mx-4 py-2 text-3xl pt-12 pb-8">No Accounts found</p>
            </div>
        } @else {
            <div class="grid grid-cols-3 sm:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4">
            @for (account of this.accounts; track account){
                <a routerLink="/account/{{this.account.id}}" class="h-full cursor-pointer flex flex-col items-center">
                    <img class="w-34 h-34 -md:w-24 -md:h-24 p-0.5 mt-2 rounded-full ring-2 ring-pink-500 dark:ring-pink-700"
                         src="{{ this.account.imageAccountUrl }}" alt="Bordered avatar">
                    <p class="mt-2 text-xl text-center">{{this.account.username}}</p>
                </a>

            }
            </div>
        }
    </div>
    <div>
        <p class="mx-4 py-2 text-5xl border-gray-100 border-b-2">Posts :</p>
        @if (this.posts.length === 0){
            <div class="py-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pt-12 border-t-2 border-gray-100 -sm:w-[100%] -sm:px-10 mb-10">
                <p class="mx-4 py-2 text-3xl">No Posts found</p>
            </div>
        } @else {
            <div class="py-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 pt-12 -sm:w-[100%] -sm:px-10 mb-10">
                @for (post of this.posts; track post){
                    <div class="">
                        <a class="mb-2 flex items-center">
                            <img class="w-10 h-10 mr-2 p-0.5 rounded-full ring-2 ring-pink-500 dark:ring-pink-700 -sm:w-8 -sm:h-8"
                                 src="{{ this.post.authorImageUrl }}" alt="Bordered avatar">
                            <div>
                                <p class="font-bold text-m -sm:text-xs">{{ this.post.author }}</p>
                                <p class="text-xs -sm:text-xxs">{{ this.post.time | dateAgo }}</p>
                            </div>
                        </a>
                        <a routerLink="/posts/{{this.post.id}}" class="cursor-pointer">
                            <img class="object-cover h-56 w-full max-w-full rounded-lg cursor-pointer" src="{{ post.imageUrl }}" alt="{{post.author}}">
                        </a>
                    </div>
                }
            </div>
        }
    </div>
</div>